*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 150px;
    width: 100vw;
    margin-top: 25px;
    margin-bottom: 25px;
}
footer{
    background-color: black;
    height: 650px;
    width: 100vw;
}
.flex{
    display: flex;
}
.container{
    width: 80vw;
    margin: 0 auto;
}
.list-container{
    width: 200px;
    margin-top: 85px;
}
.just-between{
    justify-content: space-between;
}
.just-around{
    justify-content: space-around;
}
.align-cent{
    align-items: center;
}
.margin-footer{
    margin-left: 25px;
    margin-right: 25px;
}
.f-list{
    list-style-type: none;
}
.f-list li{
    padding-top: 15px;
}
.u-list{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 100px;
}
.u-list li{
    display: inline-block;
    padding-left: 50px; 
    
}
.list-index{
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 25px;
}
.b-txt-link{
    text-decoration-line: none;
    color: black;
    font-family: sans-serif;
}
.w-txt-link{
    text-decoration-line: none;
    color: white;
    font-family: sans-serif;
    
}
.b-accedi{
    background-color:white ;
    color: black;
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    border: none;
}
.b-inizia{
    background-color:blue ;
    color: white;
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    border: none;
}